{% extends 'base.html.twig' %}

{% block title %}Forgot Password
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <form action="{{ path('security_forgot_password')}}" method="post">
            <div class="form-group">
                <input placeholder="Adresse Email" required name="_username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Renvoyez moi un mot de pass
                </button>
            </div>
        </form>
    </div>
{% endblock %}
