{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}


    <div class="container">
        <h1>Merci</h1>
        <h2>
            Votre compte
            {{ email }}
            a  bien été confirmé
        </h2>
    </div>
{% endblock %}
